@import "idora.arrows.css";
@import "idora.dots.css";

#idora {
  width: 800px;
  height: 250px;
  margin: auto;
  border: 5px inset grey;
}

.idora-stage {
  margin: 0;
  padding: 0;
}

.idora-stage > * {
  vertical-align: middle;
  padding: 4px;
  border: 1px solid grey;
  margin: 5px;
}

@media only screen and (max-width : 800px) and (min-width : 0px) {
  #idora {
    width: 400px;
  }
}