@import "well.arrows.css";
@import "well.dots.css";

#carousel {
  width: 800px;
  height: 250px;
  margin: auto;
  padding: 10px;
  border: 5px inset grey;
}

.carousel_stage {
  margin: 0;
  padding: 0;
}

.carousel_stage > * {
  vertical-align: middle;
  padding: 4px;
  border: 1px solid grey;
  margin: 5px;
}