#carousel {
  width: 800px;
  height: 250px;
  margin: auto;
  padding: 10px;
  border: 5px inset grey;
}

.carousel_stage {
  margin: 0;
  padding: 0;
}

.carousel_stage > * {
  padding: 4px;
  border: 1px solid grey;
  margin: 5px;
}

.dots {
  position: absolute;
  right: -50px;
  border: 1px solid green;
  display: inline-block;
}

.dots > div {
  border: 1px solid transparent;
  margin: -1px;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 4px;
  background-color: red;
}

.nav .arrow {
  position: absolute;
  top: 50%;
}

.nav .next {
  right: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid green;
}

.nav .prev {
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid blue;
  border-bottom: 10px solid transparent;
}